.cardboard {
    background-color: #CDCED3;
    padding: 15px;
    margin: 8px;
    width: 300px;
    border-radius: 5px;
}

.cb-title {
    color: white;
    font-weight: bolder;
    font-size: 22px;
    margin: 8px 0 15px;
}

.cb-text {
    margin-bottom: 40px;
}