.card {
    background-color: white;
    padding: 15px 0 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.226);
    margin: 10px 0 35px;
}

.item {
    padding-left: 15px;
    font-weight: bold;
    font-size: 0.95rem;
}