.card-board {
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #77C1F7;
    padding: 20px 15px 15px;
    justify-content: center;
    border-radius: 5px;
}

.title {
    color: white;
}